<div>
    <h1>Women</h1>
</div>
{{#each users as |user| }}


<section id="connection-card">
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Age: {{user.age}}</p>
    <p>About You: {{user.about_you}}</p>
    <button class="btn-bd-primary connect-btn" data-connected-to-id="{{user.id}}">Connect</button>
</section>

{{/each}}
</div>
<script src='/js/connectbtn.js'></script>