<div class="profile">
    <div>
        <div>
            <h2>My Profile</h2>
        </div>

        <p>First Name: {{user.first_name}}</p>
        <p>Last Name: {{user.last_name}}</p>
        <p>Age: {{user.age}}</p>
        <p>About You: {{user.about_you}}</p>
    </div>

    <div>
        <div>
            <h2>Connections</h2>
        </div>

        {{#each user.connections}}
        <div class="connection-card">
            <p>First Name: {{this.first_name}}</p>
            <p>Last Name: {{this.last_name}}</p>
            <p>Age: {{this.age}}</p>
            <p>About You: {{this.about_you}}</p>
        </div>
        {{/each}}

    </div>
</div>
<script src='./js/profile.js'></script>